<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.koreait.board.mappers.BoardMapper">
    <insert id="register" useGeneratedKeys="true" keyProperty="seq">

    </insert>
    <update id="update">

    </update>
    <delete id="delete">

    </delete>
    <select id="get">
        SELECT * FROM BOARD_DATA WHERE seq=#{seq}
    </select>

    <select id="getList">

    </select>
</mapper>